body {
    background-color: rgb(247, 238, 248);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
font-family: Times, serif;
color: rgb(244, 244, 244);
font-stretch: expanded; 
}

header {
background-color: rgb(124, 28, 128);
  border: 1px solid rgb(94, 29, 90);
  margin: 0px;
  padding: 10px;
}